{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:storybook/recommended"
  ],
  "ignorePatterns": ["dist", ".eslintrc"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react-refresh", "eslint-plugin-import"],
  "rules": {
    "react-refresh/only-export-components": [
      "warn",
      { "allowConstantExport": true }
    ],
    "semi": ["error", "always"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "indent": ["error", 2],

    // this is for sorting within an import e.g. useEffect comes before useState alphabetically
    "sort-imports": ["error", {"ignoreCase": true, "ignoreDeclarationSort": true}],

    // this is for grouping and sorting import groups
    "import/order": [
      "error",
      {
        "groups": [
          "external", 
          "builtin",
          "internal",
          "sibling", 
          "parent",
          "index"
        ],
        "pathGroups": [
          {
            "pattern": "react | react-dom | vite",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "src/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["internal", "react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
